.career{
  text-align: center;
  margin-top: 150px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 50px;
  color: #333; 

}

.careerdispaly{
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}
