.containerStyle {
  display: flex;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  
}
.div1 {

  width: 650px;
  height: 300px;
}
.hrStyle {  
  width: 90%;
  margin: 10px 0 10px 0;

}


.textContainerStyle {
  margin-right: 20px;
  text-align: center;
}

.imageStyle {
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
  margin-right: 60px;
}
