/* Selfintro.css 파일 내 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#selfIntro {
  margin-left: 20px;
  font-size: 0.8em;
}

.division{
  margin-left: 100px ;
  margin-right: 100px ;
}


.selfIntro h3 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 50px;
  font-weight: bold;

  color: #333; /* 폰트 색상 지정 */
}

.selfIntro p {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  color: #555; /* 폰트 색상 지정 */
}

.selfIntro hr {
  border: none;
  height: 3px;
  background-color: #ddd; /* 선 색상 지정 */
  margin: 30px 0; /* 간격 조절 */
}


.div4{

  width: 400px;
  height: 400px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;
  color: #333; /* 폰트 색상 지정 */
}
.div5{
  text-align: left;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 22px;
  color: #555; /* 폰트 색상 지정 */
  width: 1300px;
  height: 400px;
}



