/* Skills.css */



.progress-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.progress1 {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 50px;
  width: 1510px;
}.progress2 {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 50px;
  width: 1550px;
}.progress3 {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 50px;
  width: 1410px;
}.progress4 {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height: 50px;
  width: 1525px;
}

.progress-done {
  background: linear-gradient(to left, #F2909C, #FF9472);
  box-shadow: 0 3px 3px -5px #F2909C, 0 2px 5px #F2909C;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 0;
  transition: 2s ease;
}

.progress-text {
  margin-left : 20px;
  margin-right: 30px;
  font-size: 50px;
  color: #333; /* 텍스트 색상을 조절하세요 */
}
